<!-- Allgemeine Oel-Ansicht -->
<div class="container mt-4">
  <div class="row">
    <div class="col-6 col-sm-3" *ngFor="let oil of oils">
      <div class="card h-100">
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Produktbild: {{oil.name}}">
        <div class="card-body">
          <h5 class="card-title titleDisplay">{{oil.name}}</h5>
          <p class="card-text descriptionDisplay">{{oil.description}}</p>
          <p class="card-text priceDisplay" >€ {{oil.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
