<div class="text-center w-50 mx-auto mt-5">
  <h1 class="card-header text-success pb-2">
    {{treatment?.name}}
  </h1>
  <ul class="list-group list-group-flush h3">
    <li class="list-group-item text-secondary">{{treatment?.description}}</li>
    <li class="list-group-item text-secondary">{{treatment?.price_in_euro}}€/Stunde</li>
    <li class="list-group-item text-secondary">{{treatment?.body_part}}</li>
    <li class="list-group-item text-white"
        [class]="treatment?.available?'bg-success': 'bg-danger'">{{treatment?.available ? "Verfügbar" : "Nicht verfügbar"}}
    </li>
    <li class="list-group-item">
      <button type="button" class="btn btn-outline-secondary" routerLink="/treatments">
        <h2>zurück zur Übersicht</h2>
      </button>
    </li>
  </ul>
</div>
