<div *ngIf="!isEditing; else editTemplate" [routerLink]="['/treatments/details', treatment?.id]" class="treatment-card">
  <div class="card-header text-success">
    {{treatment?.name}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-secondary">{{treatment?.description}}</li>
    <li class="list-group-item text-secondary">{{treatment?.price_in_euro}}€/Stunde</li>
    <li class="list-group-item text-secondary">{{treatment?.body_part}}</li>
    <li [class]="treatment?.available?'bg-success': 'bg-danger'"
        class="list-group-item text-white">{{treatment?.available ? "Verfügbar" : "Nicht verfügbar"}}</li>
    <li class="list-group-item d-flex justify-content-evenly">
      <button (click)="onDelete(treatment?.id ?? '')" class="btn btn-outline-danger rounded-circle" type="button">
        <i class=" bi bi-trash3"></i></button>
      <button (click)="startEditing()" class="btn btn-outline-success rounded-circle" type="button"><i
        class="bi bi-pencil"></i></button>
    </li>
  </ul>
</div>
<ng-template #editTemplate>
  <!-- Display the treatment form when editing -->
  <app-treatment-card-form (cancel)="onCancelEdit()"
                           (save)="onSave($event, treatment.id)"
                           *ngIf="treatment"
                           [treatment]="treatment"/>
</ng-template>
