<div>
  <div class="card-header text-success">Bearbeiten</div>
  <form [formGroup]="form" (submit)="onSubmit()" class="list-group list-group-flush">
    <label>Name:</label>
    <input type="text" formControlName="name"/>

    <label>Beschreiben:</label>
    <input type="text" formControlName="description"/>

    <label>Preis (€/Stunde):</label>
    <input type="number" formControlName="price_in_euro"/>

    <label>Körperteil:</label>
    <input type="text" formControlName="body_part"/>

    <label>Verfügbar:</label>
    <input type="checkbox" formControlName="available"/>

    <div class="list-group-item d-flex justify-content-evenly">
      <button type="button" class="btn btn-outline-danger rounded-circle" (click)="onCancel()"><i
        class="bi bi-x-lg"></i></button>
      <button type="submit" class="btn btn-outline-success rounded-circle"><i class="bi bi-floppy"></i></button>

    </div>
  </form>
</div>
