
.top-space {
  height: 50px;
}

.bottom-space {
  height: 50px;
}

.card {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

.card-header {
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.card-title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;

}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  text-align: center;
}

.btn:disabled {
  background-color: #b0c1d9;
  border-color: #b0c1d9;
  cursor: not-allowed;
}

.btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
