.oilDetails {
    width: 100%;
}

.buttonTable {
    width: 100%;
}

.buttonTable button.btn {
    width: 100%;
}

.ingredientBtn {
    width: 50%;
}

#ingredientListShow {
    list-style: none;
    font-style: italic;
}

td, th {
    vertical-align: center;
}
