

.top-space {
  height: 50px;
}

.bottom-space {
  height: 50px;
}
.tile-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  border-radius: 50px

}
.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px

}
h3{
  font-weight: bold;
}
h5{
  font-family: Helvetica;
  font-weight: inherit;
}
h4{
  font-weight: lighter;
}

.tile {
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Arial', sans-serif;
  border-radius: 50px
}
.tile-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 50px
}

.tile {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  padding: 10px;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50px
}

img {
  max-width: 100%;
  border-radius: 50px
}
.tile {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50px
}
.tile-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 50px
}

.tile {
  border: 1px solid #ddd;
  padding: 10px;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50px
}
/* app.component.css */
.tile {
  border: 1px solid #ddd;
  padding: 10px;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 50px
}

.tile:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.tile {
  border: 1px solid #ddd;
  padding: 10px;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
img {
  max-width: 100%;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 50px
}

.tile:hover img {
  transform: scale(1.1);
}
button {
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background-color: black;
}


