<ul>

  <div class="content">

    <app-team-search />

  </div>
  <div class="container">

  <div class="tile-container">

    <div *ngFor="let members of teammembers" class="tile">

        <img src="/assets/Bessel2.jpeg" >
      <h3>{{ members.name }}</h3>
      <h4>{{members.profession}}</h4>
      <h5>Motto: {{members.motto}}</h5>
      <h6>beim Team seit: {{members.age}}</h6>


     <button>Bearbeiten</button>
      <button> <!--(click)="deleteTeamMember(member)-->Löschen</button>
    <br>


    </div>


  </div>
<br>
    <br>

  </div>
  <div class="top-space"></div>
<div class = "container">
  <div class="tile-container">


    <!--
       <div *ngFor="let member of teammembers" class="team-member-card">
         <img [src]="'assets/' + member.id + '.jpg'" alt="{{ member.name }}" />
         <h3>{{ member.name }}</h3>
         <p>{{ member.motto }}</p>
         <p>{{ member.profession }}</p>
         <p>{{ member.age }}</p>
       </div>
   -->
       <button>Hinzufügen </button>
      <!-- <button (click)="addTeamMember()">Neues Mitglied hinzufügen</button>-->


  </div>
  <div class="bottom-space"></div>
</div>


</ul>
